@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700&family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Lexend Deca",sans-serif;
    background-color:  hsl(0, 0%, 95%);
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 15px;
    font-family: "Lexend Deca",sans-serif;
    font-weight: 450;
}
.container{
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius:12px 12px 0 0;
    margin: 2rem;
    overflow: hidden;
}

.box1{
    background-color:hsl(31, 94%, 50%);
    padding: 40PX;
    border-radius: 0 0 0 12px;

 }

 .box2{
    background-color:hsl(184, 90%, 27%);
    padding: 40PX;
 }
 .box3{
    background-color: hsl(178, 88%, 16%);
    padding: 40PX;
    border-radius:0 0 12px 0 ;
 }
h3{
    font-family: "Big Shoulders Display";
    text-transform: uppercase;
    color:hsl(0, 0%, 95%);
    font-size: 30px;
    margin-top: 25px;
}
p{
    color:hsla(0, 0%, 100%, 0.75);
    line-height: 1.6;
    margin-top:25px ;
}
.box1 button{
    color: hsl(31, 94%, 50%);
    padding: 10px 27px;
    background-color: hsl(0, 0%, 95%);
    margin-top: 60px;
    border: 2px solid whitesmoke;
    border-radius: 25px;

}
.box2 button{
    color: hsl(184, 90%, 27%);
    padding: 10px 27px;
    background-color: hsl(0, 0%, 95%);
    margin-top: 60px;
    border: 2px solid whitesmoke;
    border-radius: 25px;

}
.box3 button{
    color: hsl(178, 88%, 16%);
    padding: 10px 27px;
    background-color: hsl(0, 0%, 95%);
    margin-top: 60px;
    border: 2px solid whitesmoke;
    border-radius: 25px;

}




    




